.BtnAjoutPanier{
    margin:  5px;
    background-color: seagreen;
    color: seashell;
    padding: 0.4rem;
    border: 2px solid black;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    // sinon infopanier se fait cacher par lui
    z-index:1;

}